body{
    background-color: grey;
    text-align: center;

}

h1,h2{
    text-align: center;
}

h1{
    font-size: 5em;
}

h2{
    font-size: 7em;
}


button{
    display:block;
    margin:0 auto;
    border:none;
    padding: 2em 4em;
    color: white;
    font-size: 0.9em;
    border-radius: 5%;
    width: 200px;
    margin-top: 1em;

    
}
.button1{
    background-color: red;
}

.button2{
    background-color:green;
}
